@model CSO.Core.Models.LoginViewModel

@{
    Layout = "~/Views/Shared/_Account.cshtml";
    ViewData["Title"] = "Login";
}


<style>
    /* .custom-card {
        border-radius: 10px !important;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        overflow: hidden;
    }

    .full-bg {
        background-color: #f0f2f5; 
        height: 92vh;
        display: flex;
        justify-content: center;
        align-items: center;
    } */

    .card {
        border-radius: 15px;
        transition: transform 0.2s ease-in-out;
    }

        .card:hover {
            transform: translateY(-5px);
            box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
        }

    .btn-primary {
        background-color: #004080;
        border: none;
    }

        .btn-primary:hover {
            background-color: #004080;
        }

    a {
        color: #007BFF;
        text-decoration: none;
        background-color: transparent;
    }

    .text-muted {
        color: #005BAC !important;
    }

    @@media (max-width: 576px) {
        h5 {
            font-size: 16px !important;
        }

        .card {
            margin: 10px;
        }

        .btn {
            font-size: 14px;
            padding: 10px 15px;
        }
    }

</style>
<div class="content d-flex justify-content-center align-items-center full-bg">

    <form asp-controller="Account" asp-action="ForgetPassword" method="post" class="login-form">
        <div class="card mb-0 shadow" style="border-radius: 15px; overflow: hidden; box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);">
            <div class="text-center bg-white p-3">
                <a>
                    <img id="imglogo" name="imglogo" src="~/images/wipro-logo.png" class="img-fluid  shadow-0 " alt="" />
                </a>
            </div>

            <div class="text-center bg-white">
                <h5 style="font-weight:700;font-size:20px;color:#004080">Customer Satisfaction Opportunities</h5>
            </div>

            <div class="card-body">
                <div class="form-group form-group-feedback form-group-feedback-left">
                    <input asp-for="Email" class="form-control rounded-pill" id="txtemail" placeholder="Email" />
                    <div class="form-control-feedback">
                        <i class="icon-user text-muted"></i>
                    </div>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="form-group form-group-feedback form-group-feedback-left" id="divOtptext">
                    <input type="text" class="form-control rounded-pill" placeholder="OTP" id="OTP" />
                    <input type="hidden" class="form-control" id="hdnOtp" />
                    <div class="form-control-feedback">
                        <i class="icon-lock2 text-muted"></i>
                    </div>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="form-group" id="divGetOtp">
                    <button type="button" class="btn btn-primary btn-block rounded-pill" onclick="GetOtp()">Get OTP</button>
                </div>
                <div class="form-group" id="divChangePass">
                    <button type="button" class="btn btn-primary btn-block rounded-pill" onclick="ChangePass()">Change Password</button>
                </div>

            </div>
        </div>

    </form>

</div>
@section Scripts {
    <script src="~/js/PopupAlert.js" type="text/javascript"></script>
    <script src="~/js/noty.min.js" type="text/javascript"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            debugger
            $("#divOtptext").hide();
            $("#divChangePass").hide();
        });

        function ChangePass()
        {
            if($("#OTP").val()==$("#hdnOtp").val())
            {
                var url = '@Url.Action("ChangePassword", "Account")';
                window.location.href = url + "?username=" + $("#txtemail").val();
            }
            else
            {
                var url = '@Url.Action("Login", "Account")';
                showDangerAlert("Sorry you have enter wrong otp");
                window.location.href=url;
            }
        }

        function GetOtp()
        {
            Blockloadershow()
            debugger;
            $.ajax({
                 url: '@Url.Action("SendOTPEmailToForgotPassword", "Account")',
                 dataType: "json",
                 type: "GET",
                 contentType: 'application/json; charset=utf-8',
                 data: { username: $('#txtemail').val() },
                 success: function (data) {
                     Blockloaderhide();
                     if (data.alertType == "Success") {
                         showSuccessAlert('OTP has been sent to your Email');
                          $("#hdnOtp").val(data.result);
                          $("#divOtptext").show();
                          $("#divChangePass").show();
                          $("#divGetOtp").hide();
                     }
                     else if (data.alertType == "Warning") {
                         showWarningAlert('Invalid email ID entered.');
                     }
                     else if (data.alertType == "Email Service is not working ") {
                         showWarningAlert(data.message)
                         var url = '@Url.Action("Login", "Account")';
                         window.location.href=url;
                     }
                 },
                 error: function (data) {
                     Blockloaderhide();
                     if (data.alertType == "Error") {
                         showSuccessAlert(data.message);
                         var url = '@Url.Action("Login", "Account")';
                         window.location.href=url;
                     }
                 }
            });
        }

    </script>
}