@model CSO.Core.Models.CSOLogViewModel

@{
    ViewData["Title"] = "CSOLog";
}
<link href="~/css/fontawesome/styles.min.css" rel="stylesheet" />
<script src="~/js/jquery.min.js"></script>
<script src="~/js/jquery.datatables.js"></script>
<link href="~/css/pnotify.css" rel="stylesheet" />
<script src="~/js/pnotify.js"></script>
<script src="~/js/pnotify.confirm.js"></script>
<script src="~/lib/bootstrap/dist/js/datatables.buttons.min.js"></script>
<script src="~/lib/bootstrap/dist/js/popupAlert.js"></script>
<script src="~/lib/bootstrap/dist/js/jszip.min.js"></script>
<script src="~/lib/bootstrap/dist/js/buttons.html5.min.js"></script>
<script src="~/js/common.js"></script>
<script src="~/js/xlsx.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.6.2/js/bootstrap.bundle.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    
   <style>
    em {
        color: red;
        font-weight: 700;
    }

    .card {
        box-shadow: 15px 10px 15px rgba(0, 0, 0, 0.05);
    }

    .form-label {
        font-weight: 500;
        color: #495057;
    }



    .form-check-label {
        font-weight: 500;
    }

    .btn {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .card-header i {
        margin-right: 0.5rem;
    }


        .required::after {
            content: "*";
            color: red;
            margin-left: 4px;
        }
    </style>

    <div class="page-content">
    <div class="content-wrapper">
    <div class="card">
    
            <div class="card-header d-flex justify-content-between align-items-center" style="border-radius: 10px 10px 0px 0px;border-bottom-color:#4682B4;">
                <h5 class="card-title" style="font-weight:640; color:#3f51b5;">CSO Log</h5>
                <p class="text-muted">
                    Logged By: <strong>
                        @Html.LabelFor(m => m.UserName)
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control font-weight-bold", @disabled = "disabled" })
                        @* <input type="text" class="form-control" disabled value="@Model.UserName" /> *@
                        @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                    </strong>
                   |    Log Date: <strong>
                        @Html.LabelFor(m => m.Logdate)
                        @Html.TextBoxFor(m => m.Logdate, "{0:yyyy-MM-dd}", new { @type = "date", @class = "form-control font-weight-bold", @disabled = "disabled" })
                        @Html.ValidationMessageFor(m => m.Logdate, "", new { @class = "text-danger" })</strong>
                </p>
          
                <div>
                    <button type="button" id="saveButton" onclick="InsertUpdateUser()" class="btn btn-success">
                        <i class="fas fa-floppy-disk mr-2"></i>Save
                    </button>

                    <button type="button" class="btn btn-warning" onclick="history.back()">
                        <i class="fas fa-arrow-left mr-2"></i>Back
                    </button>
                </div>
        </div>
    
            <div class="content">
                <form id="" method="post" asp-action="" asp-controller="">
            <div class="card">
                <div class="card-header bg-light">
                    <label class="mb-0">General Details</label>
                </div>
                <div class="card-body">
                    <div class="row g-3">
                                <div class="col-md-2">
                                    <label class="form-label required">CSO No.</label>
                                    @{
                                        string CSONo = Model.CSONo + "/" + Model.FinancialYear;
                                    }
                                    
                                    @Html.TextBox("CSONo", CSONo, new { @class = "form-control font-weight-bold", @disabled = "disabled" })
                                    @Html.ValidationMessageFor(m => m.CSONo, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-4">
                            <label class="form-label required select2">Division/BU</label>
                                    
                                    @Html.DropDownListFor(m => m.DivisionId, (IEnumerable<SelectListItem>)ViewBag.DivisionList, new { @class = "form-control font-weight-bold", @disabled = "disabled" })
                                    @Html.ValidationMessageFor(m => m.DivisionId, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-4">
                            <label class="form-label required select2">Category / Function</label>
                                    
                                    @Html.DropDownListFor(m => m.CategoryId, (IEnumerable<SelectListItem>)ViewBag.CategoryList, new { @class = "form-control font-weight-bold", @disabled = "disabled" })
                                    @Html.ValidationMessageFor(m => m.CategoryId, "", new { @class = "text-danger" })
                        </div>
                        
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header bg-light">
                    <label class="mb-0">Product Information</label>
                </div>
                <div class="card-body">
                    <div class="row g-3">
                        <div class="col-md-4">
                                    <label class="form-label required select2">Brand</label>
                              
                                    @Html.DropDownListFor(m => m.BrandId, (IEnumerable<SelectListItem>)ViewBag.BrandList, new { @class = "form-control font-weight-bold", @disabled = "disabled" })
                                    @Html.ValidationMessageFor(m => m.BrandId, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-4">
                                    <label class="form-label required select2">Product Type</label>
                                    
                                    @Html.DropDownListFor(m => m.ProductTypeId, (IEnumerable<SelectListItem>)ViewBag.ProductTypeList, new { @class = "form-control font-weight-bold", @disabled = "disabled" })
                                    @Html.ValidationMessageFor(m => m.ProductTypeId, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-4">
                                    <label class="form-label required select2">SKU Details<em>*</em></label>
                                    
                                    @Html.ValidationMessageFor(m => m.SKUDetails, "", new { @class = "text-danger" })
                                    @Html.TextAreaFor(m => m.SKUDetails, 1, 40, new { @class = "form-control font-weight-bold" })
                        </div>
                        <div class="col-md-4">
                                    <label class="form-label required select2">Batch</label>
                                   
                                    @Html.TextBoxFor(m => m.Batch, new { @class = "form-control font-weight-bold", @disabled = "disabled" })
                                    @Html.ValidationMessageFor(m => m.Batch, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-4">
                                    <label class="form-label required select2">PKD Date</label>
                                   
                                    @Html.ValidationMessageFor(m => m.PKDDate, "", new { @class = "text-danger" })
                                    @Html.TextBoxFor(m => m.PKDDate, new { @class = "form-control font-weight-bold" })

                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header bg-light">
                    <label class="mb-0">Plant & Supply Info</label>
                </div>
                <div class="card-body">
                    <div class="row g-3">
                        <div class="col-md-4">
                                    <label class="form-label required select2">Plant</label>
                                   
                                    @Html.DropDownListFor(m => m.PlantId, (IEnumerable<SelectListItem>)ViewBag.PlantList, new { @class = "form-control font-weight-bold", @disabled = "disabled" })
                                    @Html.ValidationMessageFor(m => m.PlantId, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-4">
                                    <label class="form-label required select2">Nearest Plant</label>
                                 
                                    @Html.DropDownListFor(m => m.NearestPlantId, (IEnumerable<SelectListItem>)ViewBag.NearestPlantList, new { @class = "form-control font-weight-bold", @disabled = "disabled" })
                                    @Html.ValidationMessageFor(m => m.NearestPlantId, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-2">
                                    <label class="form-label required select2">Defective Quantity</label>
                                 
                                    @Html.TextBoxFor(m => m.Quantity, new { @class = "form-control font-weight-bold", @disabled = "disabled" })
                                    @Html.ValidationMessageFor(m => m.Quantity, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-2">
                                    <label class="form-label required select2">Supplied Quantity</label>
                                   
                                    @Html.TextBoxFor(m => m.SuppliedQuantity, new { @class = "form-control font-weight-bold", @disabled = "disabled" })
                                    @Html.ValidationMessageFor(m => m.SuppliedQuantity, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-4">
                                    <label class="form-label required select2">Cat Reference</label>
                                    
                                    @Html.TextBoxFor(m => m.CatReference, new { @class = "form-control font-weight-bold", @disabled = "disabled" })
                                    @Html.ValidationMessageFor(m => m.CatReference, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header bg-light">
                    <label class="mb-0">Complaint Details</label>
                </div>
                <div class="card-body">
                    <div class="row g-3">
                        <div class="col-md-6">
                                    <label class="form-label required select2">Description of Complaint</label>

                                   
                                    @Html.TextBoxFor(m => m.SourceofComplaint, new { @class = "form-control font-weight-bold", @disabled = "disabled" })
                                    @Html.ValidationMessageFor(m => m.SourceofComplaint, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-6">
                                    <label class="form-label required select2">Source of Complaint</label>
                                  
                                    @Html.TextAreaFor(m => m.Description, 2, 40, new { @class = "form-control font-weight-bold", @disabled = "disabled" })
                                    @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-3">
                            <label class="form-label">Samples Shipped</label>
                            <div class="form-check form-switch">
                                      
                                       @Html.CheckBoxFor(m => m.IsSampleShipped, new { @class = "form-control font-weight-bold", @disabled = "disabled" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header bg-light">
                    <label class="mb-0">Attachments</label>
                </div>
                <div class="card-body">
                    <div class="mb-3">
                        <label for="images" class="form-label required">Upload Images</label>
                               
                                <input id="File" type="file" class="form-control" name="img" onchange="csoLogIndex.SelectUploadFile(this,this.id);" multiple disabled />
                                @* @Html.ValidationMessageFor(m => m.CSOLogFileName, "", new { @class = "text-danger" }) *@
                                @Html.Label("FileSize", "Maximum upload file size: 5 MB.", new { style = "font-style: italic; font-weight: normal;" })
                        <div class="form-text">Max size 5MB per file</div>
                    </div>

                            <div class="form-group col-3" style="display:none" id="DivTrackingNo">
                                <label class="form-label">TrackingNo</label>
                                @Html.TextBoxFor(m => m.TrackingNo, new { @class = "form-control font-weight-bold", @disabled = "disabled" })
                                @Html.ValidationMessageFor(m => m.TrackingNo, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group col-3" id="DivEmptyTrackingNo">
                            </div>
                            <div class="form-group col-3">
                            </div>
                            <div class="form-group col-3">
                                <ul class="attachment" id="CSOLogImagesUL">
                                </ul>
                            </div>
                </div>

            </div>

          
        </form>
    </div>
    </div>
</div>
</div>


