@using CSO.Core.Models

@model DivisionViewModel


@{
    ViewData["Title"] = "Division";
}


<form action="~/Division/Division">
     

    <div class="card shadow-sm">
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(l => l.Id)

                    <div class="form-group">
                        @Html.LabelFor(m => m.Name, htmlAttributes: new { @class = "font-weight-semibold" })
                        @Html.TextBoxFor(l => l.Name, new { @class = "form-control", placeholder = "Enter Division Name" })
                        @Html.ValidationMessageFor(l => l.Name, "", new { @class = "text-danger small" })
                    </div>
                </div>
            </div>
        </div>

        <div class="card-footer text-center">
            <button type="submit" id="btnSave" class="btn btn-primary">
                <i class="icon-checkmark3 mr-2"></i> Submit
            </button>
        </div>
    </div>


    <div id="modelAddEditDivision" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modelAddEditDivisionLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-sm modal-fullscreen-sm-down">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modelAddEditDivisionLabel">Add/Edit Division</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Form content will be injected here via AJAX -->
                </div>
            </div>
        </div>
    </div>
</form>

<script>
    $(document).ready(function () {
        divisionIndex.bindEvents();

        // Optional: Handle Enter key for mobile and desktop
        $('#frmDivision').on('keydown', 'input', function (e) {
            if (e.key === 'Enter') {
                e.preventDefault();
                $('#btnSave').click();
            }
        });
    });
</script>