@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>CSO - @ViewData["Title"]</title>
    <link href="~/css/icomoon/styles.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/icons/fontawesome/styles.min.css" rel="stylesheet" type="text/css" />
    
    <link href="~/css/icons/material/styles.min.css" rel="stylesheet" type="text/css" />
    
    <link href="~/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/css/bootstrap_limitless.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/layout.css" rel="stylesheet" type="text/css" />
    <link href="~/css/components.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/colors.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/switch.css" rel="stylesheet" />
    <script src="~/Scripts/Shared/master.js" asp-append-version="true"></script>
    <link href="~/css/fontawesome/styles.min.css" rel="stylesheet" />
  <link href="~/lib/fontawesome/css/all.min.css" rel="stylesheet" /> 
    

    <link href="~/js/sweetalert/sweetalert.css" rel="stylesheet" />

    <link href="~/css/buttons.dataTables.min.css" rel="stylesheet" />


   


    <link href="~/css/site.css" rel="stylesheet" type="text/css" />
    @RenderSection("styles", false)

    
@*     <link rel="stylesheet" href="~/css/font-awesome.min.css"> *@
    <script type="text/javascript" src="https://cdn.datatables.net/plug-ins/1.12.1/dataRender/ellipsis.js"></script>

    <script>
        $(document).ready(function () {
            // Get the current URL
            var currentUrl = window.location.href.toLowerCase();

            // Highlight the active menu item for non-treeview items
            $('ul.nav-sidebar a').filter(function () {
                return this.href.toLowerCase() === currentUrl;
            }).addClass('menu-active');

            // For treeview items (submenus)
            $('ul.nav-group-sub a').filter(function () {
                return this.href.toLowerCase() === currentUrl;
            }).each(function () {
                // Open the parent submenu and highlight the active item
                $(this).closest('.nav-item-submenu').addClass('menu-open');
            });

            $('.nav-group-sub').each(function () {
                // Check if the submenu contains an active item
                if ($(this).find('.menu-active').length > 0) {
                    $(this).addClass('open');
                }
            });
        });
    </script>

    <style>
        .navbar-nav-link {
        padding: 0 0 0 0 !important;
        }

        .fa-sign-out, .fa-user {
        font-size: 24px;
        }

        #modalProfileContent {
        width: 75% !important;
        }

        #myModal_Profile {
        width: 75% !important;
        left: 51%;
        top: 5%;
        }

        .Profilelabel {
        margin-left: 12px;
        }

        .custom-label {
            font-weight: bold;
            font-size: 16px;
        }
        .loader {
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: 9999;
        background: url('~/images/Rolling.gif') 50% 50% no-repeat rgb(249,249,249);
        }
        #cover-spin {
        position:fixed;
        width:100%;
        left:0;right:0;top:0;bottom:0;
        background-color: rgba(255,255,255,0.7);
        z-index:9999;
        display:none;
        }

        -webkit-keyframes spin {
        from {-webkit-transform:rotate(0deg);}
        to {-webkit-transform:rotate(360deg);}
        }

        keyframes spin {
        from {transform:rotate(0deg);}
        to {transform:rotate(360deg);}
        }

        #cover-spin::after {
        content:'';
        display:block;
        position:absolute;
        left:48%;top:40%;
        width:40px;height:40px;
        border-style:solid;
        border-color:black;
        border-top-color:transparent;
        border-width: 4px;
        border-radius:50%;
        -webkit-animation: spin .8s linear infinite;
        animation: spin .8s linear infinite;
        }

        .menu-active {
            background-color: #fff !important;
            color: black !important;
            font-weight: bold;
            font-size: small;
            border-radius: 8px;
        }

        .nav-group-sub {
            display: none;
        }

            .nav-group-sub.open {
                display: block; /* Show the submenu when it has the 'open' class */
            }

        }
        
    </style>

</head>

<body style="height:100%" class="sidebar-xs">

    <!-- Main navbar -->
    <div class="navbar navbar-expand-md navbar-dark bg-indigo navbar-static">
        @*<div class="navbar-brand">
        <a href="index.html" class="d-inline-block">

        </a>
        </div>*@

        <div class="d-md-none">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-mobile">
                <i class="icon-tree5"></i>
            </button>
            <button class="navbar-toggler sidebar-mobile-main-toggle" type="button">
                <i class="icon-paragraph-justify3"></i>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="navbar-mobile">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="#" class="navbar-nav-link sidebar-control sidebar-main-toggle d-none d-md-block">
                        <i class="icon-paragraph-justify3"></i>
                    </a>
                </li>
            </ul>

            <span class="navbar-text ml-md-3 font-weight-bolder" style="font-size:22px;" id="spnLogin">
                <span class="badge mr-2"></span> @* badge-mark  border-orange-300*@
                Customer Satisfaction Opportunities
                @*<span style="font-size:12px;">Version:@CSO.Web.HtmlHelperExtensions.GetApplicationVersion()</span>*@
                <span style="font-size:12px;">Version:3.14  Date: 10-04-2025</span>
            </span>


                <ul class="navbar-nav ml-md-auto">
                    <li class="nav-item" style="margin-top: 0.875rem; margin-right: 10px; white-space: nowrap; ">
                       
                    </li>
                    <li class="nav-item" style="margin-top: 0.875rem; margin-right: 10px; white-space: nowrap" >
                        <div class="row">
                            <div class="col-1"><span class="font-weight-bold">FY:</span></div>
                            <div class="col-2">
                                <select id="ddlFinancialYear" style="border-radius:5px;">
                                    @{
                                        var fyStartMonth = DateTime.Now.Month;
                                        var fyYear = DateTime.Now.Year;
                                        if(fyStartMonth > 3)
                                        {
                                            fyYear = fyYear + 1;
                                        }
                                        var selectedFyYear = HttpContextAccessor.HttpContext.Session.GetString("FYear");
                                    }
                                    @for (int i = 2021; i < fyYear; i++)
                                    {

                                        var value = i.ToString().Substring(2) + (i+1).ToString().Substring(2);
                                        var Text = i.ToString() +"-"+ (i + 1).ToString().Substring(2);

                                        if (value == selectedFyYear)
                                        {
                                            <option value="@value" selected>@Text</option>
                                        }
                                        else
                                        {
                                            <option value="@value">@Text</option>
                                        }
                                    }

                                </select>
                            </div>
                        </div>

                    </li>
                    <li class="nav-item" style="margin-top: 0.875rem; margin-right: 10px;">
                        <a class="navbar-nav-link" id="iProfileIcon">
                            <i class="fa fa-user"></i>

                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">My Account</a></li>
                            <li><a href="#">View Profile</a></li>
                            <li><a href="#">Edit Profile</a></li>
                            <li><a href="#">Change Password</a></li>
                            <li><a href="#">Setting</a></li>
                            <li><a href="#">Logout</a></li>
                        </ul>
                      
                      
                    </li>
                    <li class="nav-item" style="margin-top: 0.875rem;">
                        @*<a href="@Url.Action("LogOut", "Home")" class="navbar-nav-link">
                    <i class="icon-switch2"></i>
                    <span class="ml-2">Logout</span>
                    </a>*@
                        <a href="@Url.Action("Login", "Account")" class="navbar-nav-link">
                            <i class="fa fa-sign-out"></i>

                        </a>
                    </li>
                </ul>
          
            
                <ul class="navbar-nav ml-md-auto">
                    <li class="nav-item">
                        <a href="@Url.Action("Login", "Account")" class="navbar-nav-link">
                            <i class="icon-switch2"></i>
                            <span class="ml-2">Login</span>
                        </a>
                    </li>
                </ul>
            
        </div>
    </div>
    <!-- /main navbar -->
    <!-- Page content -->
    <div class="page-content">

        <!-- Main sidebar -->
        <div class="sidebar sidebar-dark sidebar-main sidebar-expand-md">

            <!-- Sidebar mobile toggler -->
            <div class="sidebar-mobile-toggler text-center">
                <a href="#" class="sidebar-mobile-main-toggle">
                    <i class="icon-arrow-left8"></i>
                </a>
                <span class="font-weight-semibold">Navigation</span>
                <a href="#" class="sidebar-mobile-expand">
                    <i class="icon-screen-full"></i>
                    <i class="icon-screen-normal"></i>
                </a>
            </div>
            <!-- /sidebar mobile toggler -->
            <!-- Sidebar content -->
            <div class="sidebar-user-material">
                <div class="sidebar-user-material-body" style="background:white !important;padding:0px;">
                    <div class="card-body text-center" style="padding:10px !important;">
                        <a>
                            <img id="imglogo" name="imglogo" src="~/images/wipro-logo.png" class="img-fluid  shadow-0 " alt="" />
                        </a>
                        <h6 id="loginDtls" class="mb-0 text-white text-shadow-dark"> </h6>
                        <span id="spnRole" class="font-size-sm text-white text-shadow-dark"> </span>
                    </div>

                    <div class="sidebar-user-material-footer">
                    </div>
                </div>



                <!-- /user menu -->
                <!-- Main navigation -->
                <div class="card card-sidebar-mobile" id="divMnu">
                    <ul class="nav nav-sidebar" data-nav-type="accordion">
                      
                            <li class="nav-item">
                                <a asp-controller="Dashboard" asp-action="Index" class="nav-link" id="Dashboard" title="Dashboard">
                                    <i class="icon-home4"></i>
                                    <span>
                                        Dashboard
                                    </span>
                                </a>
                            </li>
                        <li class="nav-item">
                            <a asp-controller="Users" asp-action="Index" class="nav-link" id="Account" title="User">
                                <i class="icon-user"></i>
                                <span>
                                    User
                                </span>
                            </a>
                        </li>

                        
                                <li class="nav-item">
                            <a asp-controller="CSOLog" asp-action="Index" class="nav-link" id="Account" title="User">
                                <i class="far fa-edit"></i>
                                <span>
                                    CSO Log
                                </span>
                            </a>
                                    
                                </li>
                            
                          


                                <li class="nav-item">
                                    <a asp-controller="CSOLogAnalysisSolution" asp-action="Index" class="nav-link" id="CSOLog" title="Analysis & Solution">
                                        <i class="fas fa-clipboard-list"></i>
                                        <span>
                                            Analysis & Solution
                                        </span>
                                    </a>
                                </li>

                        
                      
                            @* MIS Report *@
                            <li class="nav-item nav-item-submenu">
                                <a href="#" class="nav-link" title="Reports">
                                    <i class="icon-file-eye"></i>
                                    <span>
                                        Reports
                                    </span>
                                </a>
                                <ul class="nav nav-group-sub" data-submenu-title="Reports">
                                    <li class="nav-item"><a asp-controller="MIS" asp-action="Index" class="nav-link" title="MIS">MIS</a></li>
                                    <li class="nav-item"><a asp-controller="CSOLogReport" asp-action="Index" class="nav-link" title="Log">CSO Log Report</a></li>
                                </ul>
                            </li>
                        
                            <li class="nav-item">
                                <a asp-controller="EmailConfiguration" asp-action="AddEditEmailConfiguration" class="nav-link" id="EmailConfiguration" title="Email/SMTP Setting">
                                    <i class="fas fa-envelope-square"></i>
                                    <span>
                                        Email/SMTP Setting
                                    </span>
                                </a>
                            </li>

                            <li class="nav-item nav-item-submenu">
                                <a href="#" class="nav-link"><i class="icon-copy"></i> <span>Utility</span></a>
                                <ul class="nav nav-group-sub" data-submenu-title="Configuration">
                                    <li class="nav-item nav-item-submenu">
                                        <a href="#" class="nav-link">Masters</a>
                                        <ul class="nav nav-group-sub">
                                            @*<li class="nav-item"><a title="Email/ SMTP Setting" href="/EmailConfiguration/AddEditEmailConfiguration" class="nav-link">Email/ SMTP Setting</a></li>*@
                                        <li class="nav-item"><a title="Division" asp-controller="Division" asp-action="Division" class="nav-link">Division</a></li>
                                        <li class="nav-item"><a title="Category" asp-controller="Category" asp-action="Index" class="nav-link">Category</a></li>
                                        <li class="nav-item"><a title="Complaint Type" asp-controller="ComplaintType" asp-action="ComplaintType" class="nav-link">Complaint Type</a></li>
                                        <li class="nav-item"><a title="CSO Class" asp-controller="CSOClass" asp-action="CSOClass" class="nav-link">CSO Class</a></li>
                                        <li class="nav-item"><a title="Brand" asp-controller="Brand" asp-action="Brand" class="nav-link">Brand</a></li>
                                        <li class="nav-item"><a title="Product Type" asp-controller="ProductType" asp-action="ProductType" class="nav-link">Product Type</a></li>
                                        <li class="nav-item"><a title="Plant" asp-controller="Plant" asp-action="Plant" class="nav-link">Plant</a></li>
                                        <li class="nav-item"><a title="Nearest Plant" asp-controller="NearestPlant" asp-action="NearestPlant" class="nav-link">Nearest Plant</a></li>
                                        <li class="nav-item"><a title="User Role" asp-controller="UserRole" asp-action="UserRole" class="nav-link">User Role</a></li>
                                        <li class="nav-item"><a title="Recycle Days" asp-controller="RecycleDay" asp-action="RecycleDay" class="nav-link">Recycle Days Configuration</a></li>

                                        </ul>
                                    </li>
                                </ul>

                            </li>
                       
                            <li class="nav-item">
                                <a asp-controller="MailMatrix" asp-action="Index" class="nav-link" id="EmailConfiguration" title="Email/SMTP Setting">
                                    <i class="fas fa-envelope-square"></i>
                                    <span>
                                        Mail Matrix
                                    </span>
                                </a>
                            </li>
                        
                    </ul>
                </div>
                <!-- /main navigation -->

            </div>
            <!-- /sidebar content -->

        </div>

        <!-- Main content -->
        <div class="content-wrapper">
            <input id="hf_AccessDenied" type="hidden" value='@Url.Action("AccessDenied",  "Home")'>
            @RenderBody()

            <!-- Footer -->
            @*<div class="navbar navbar-expand-lg navbar-light">
            <div class="text-center d-lg-none w-100">
            <button type="button" class="navbar-toggler dropdown-toggle" data-toggle="collapse" data-target="#navbar-footer">
            <i class="icon-unfold mr-2"></i>
            Footer
            </button>
            </div>

            <div class="navbar-collapse collapse" id="navbar-footer">

            <ul class="navbar-nav ml-lg-auto">
            <li class="nav-item"><a href="#" class="navbar-nav-link" target="_blank"><i class="icon-lifebuoy mr-2"></i> Support :- 9892606006</a></li>
            <li class="nav-item"><i class="icon-lifebuoy mr-2"></i></li>
            <li class="nav-item"><a href="#" class="navbar-nav-link font-weight-semibold"><span class="text-pink-400">info@saibex.co.in</span></a></li>
            </ul>
            </div>
            </div>*@
            <!-- /footer -->

        </div>
        <!-- /main content -->
        <div id="cover-spin"></div>
    </div>
    <!-- /page content -->
    <div id="myModal_Profile" class="modal fade myModalView" role="dialog">
        <div class="modal-dialog modal-sm" id="modalProfile">
            Modal content
            <div class="modal-content" id="modalProfileContent">
                <div class="modal-header">
                    <h4 class="modal-title"><strong>@HttpContextAccessor.HttpContext.Session.GetString("FullName")</strong></h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>

                </div>
                <form id="frmUser">

                    <div class="box box-default">
                        <div class="box-body">
                            <br />

                            <label class="Profilelabel">Role:  @HttpContextAccessor.HttpContext.Session.GetString("RoleName")</label>
                            <br />
                            <label class="Profilelabel">Designation:  @HttpContextAccessor.HttpContext.Session.GetString("Designation")</label>


                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <script src="~/js/jquery.min.js" type="text/javascript"></script>
    <script src="~/js/bootstrap.bundle.min.js" type="tsext/javascript"></script>
    <script src="~/js/blockui.min.js" type="text/javascript"></script>
    <script src="~/js/ripple.min.js" type="text/javascript"></script>
    @* <script src="~/js/pnotify.min.js" type="text/javascript"></script>*@
    <script src="~/js/noty.min.js" type="text/javascript"></script>
    <script src="~/js/form_checkboxes_radios.js" type="text/javascript"></script>
    <script src="~/js/interactions.min.js" type="text/javascript"></script>
    <script src="~/js/datatables.min.js" type="text/javascript"></script>

    <script type="text/javascript" src="~/js/datatables.buttons.min.js"></script>
    <script type="text/javascript" src="~/js/jszip.min.js"></script>
    <script type="text/javascript" src="~/js/buttons.html5.min.js"></script>

    <script src="~/js/switch.min.js" type="text/javascript"></script>
    <script src="~/js/uniform.min.js" type="text/javascript"></script>
    <script src="~/js/form_select2.js" type="text/javascript"></script>

    <script src="~/js/sweetalert/sweetalert.js"></script>
    <script src="~/js/popper.min.js"></script>


    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>


    <script src="~/js/pagination.js"></script>
    <script src="~/js/loadingoverlay.min.js"></script>
    <script src="~/js/app.js" type="text/javascript"></script>

    <script src="~/js/select2.min.js" type="text/javascript"></script>
    <script src="~/js/plugins/tables/footable/footable.min.js"></script>
    <script src="~/js/jquery.validate.unobtrusive.js"></script>
    <script src="~/js/ellipsis.js"></script>
    <script src="~/js/form_checkboxes_radios.js" type="text/javascript"></script>
    <script src="~/js/echarts.min.js" type="text/javascript"></script>
    <script src="~/js/PopupAlert.js" type="text/javascript"></script>
    
    <script src="~/css/bootstrap-multiselect.js"></script>
    @RenderSection("scripts", false)

</body>

</html>
